@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 34 30% 94%;
    /* #F4F1ED - Cinza Solo Seco */
    --foreground: 0 0% 11%;
    /* #1C1C1C - Preto Técnico */

    --card: 34 30% 94%;
    --card-foreground: 0 0% 11%;

    --popover: 34 30% 94%;
    --popover-foreground: 0 0% 11%;

    --primary: 122 46% 34%;
    /* #2E7D32 - Verde Técnico */
    --primary-foreground: 0 0% 100%;

    --secondary: 25 38% 29%;
    /* #5A3E2B - Terra Profunda */
    --secondary-foreground: 0 0% 100%;

    --muted: 30 43% 38%;
    /* #8C6239 - Argila Natural */
    --muted-foreground: 0 0% 100%;

    --accent: 123 44% 75%;
    /* #A5D6A7 - Verde Claro Suporte */
    --accent-foreground: 0 0% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 30 43% 38%;
    --input: 30 43% 38%;
    --ring: 122 46% 34%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border) / 1);
  }

  body {
    @apply bg-makini-sand text-makini-black font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading tracking-tight;
  }
}